#include <windows.h>
#include "5_3.h"


IDB_BACK1   BITMAP  "image/background.bmp"
IDB_BACK2   BITMAP  "image/bgm1.bmp"
IDB_BACK3   BITMAP  "image/bgm2.bmp"
IDB_BACK4   BITMAP  "image/meun.bmp"
IDB_BACK5   BITMAP  "image/back.bmp"
IDB_EXIT    BITMAP  "image/exit.bmp"
IDB_PAUSE   BITMAP  "image/pause.bmp"

//人物走动
IDB_WALK1   BITMAP  "image/1_01.bmp" 			
IDB_WALK2   BITMAP  "image/1_02.bmp"			
IDB_WALK3   BITMAP  "image/2_01.bmp"			
IDB_WALK4   BITMAP  "image/2_02.bmp"			
IDB_WALK5   BITMAP  "image/3_01.bmp"			
IDB_WALK6   BITMAP  "image/3_02.bmp"			
IDB_WALK7   BITMAP  "image/4_01.bmp"			
IDB_WALK8   BITMAP  "image/4_02.bmp"			
IDB_WALK9   BITMAP  "image/5_01.bmp"			
IDB_WALK10  BITMAP  "image/5_02.bmp"			
IDB_WALK11  BITMAP  "image/6_01.bmp"			
IDB_WALK12  BITMAP  "image/6_02.bmp"			
IDB_WALK13  BITMAP  "image/7_01.bmp"			
IDB_WALK14  BITMAP  "image/7_02.bmp"			
IDB_WALK15  BITMAP  "image/8_01.bmp"			
IDB_WALK16  BITMAP  "image/8_02.bmp"

//小怪走动
IDB_WALK17	BITMAP	"image/11_01.bmp"	
IDB_WALK18	BITMAP	"image/11_02.bmp"	
IDB_WALK19	BITMAP	"image/22_01.bmp"	
IDB_WALK20	BITMAP	"image/22_02.bmp"	
IDB_WALK21	BITMAP	"image/33_01.bmp"	
IDB_WALK22	BITMAP	"image/33_02.bmp"	
IDB_WALK23	BITMAP	"image/44_01.bmp"	
IDB_WALK24	BITMAP	"image/44_02.bmp"	
IDB_WALK25	BITMAP	"image/55_01.bmp"	
IDB_WALK26	BITMAP	"image/55_02.bmp"	
IDB_WALK27	BITMAP	"image/66_01.bmp"	
IDB_WALK28	BITMAP	"image/66_02.bmp"	
IDB_WALK29	BITMAP	"image/77_01.bmp"	
IDB_WALK30	BITMAP	"image/77_02.bmp"	
IDB_WALK31	BITMAP	"image/88_01.bmp"	
IDB_WALK32	BITMAP	"image/88_02.bmp"

//boss走动
IDB_WALK33	BITMAP	"image/b1_01.bmp"	
IDB_WALK34	BITMAP	"image/b1_02.bmp"	
IDB_WALK35	BITMAP	"image/b2_01.bmp"	
IDB_WALK36	BITMAP	"image/b2_02.bmp"	
IDB_WALK37	BITMAP	"image/b3_01.bmp"	
IDB_WALK38	BITMAP	"image/b3_02.bmp"	
IDB_WALK39	BITMAP	"image/b4_01.bmp"	
IDB_WALK40	BITMAP	"image/b4_02.bmp"	
IDB_WALK41	BITMAP	"image/b5_01.bmp"	
IDB_WALK42	BITMAP	"image/b5_02.bmp"	
IDB_WALK43	BITMAP	"image/b6_01.bmp"	
IDB_WALK44	BITMAP	"image/b6_02.bmp"	
IDB_WALK45	BITMAP	"image/b7_01.bmp"	
IDB_WALK46	BITMAP	"image/b7_02.bmp"	
IDB_WALK47	BITMAP	"image/b8_01.bmp"	
IDB_WALK48	BITMAP	"image/b8_02.bmp"	

//攻击
IDB_ATTACK1		BITMAP	"image/a1_01.bmp"	
IDB_ATTACK2		BITMAP	"image/a1_02.bmp"	
IDB_ATTACK3		BITMAP	"image/a2_01.bmp"
IDB_ATTACK4		BITMAP	"image/a2_02.bmp"	
IDB_ATTACK5		BITMAP	"image/a3_01.bmp"	
IDB_ATTACK6		BITMAP	"image/a3_02.bmp"	
IDB_ATTACK7		BITMAP	"image/a4_01.bmp"	
IDB_ATTACK8		BITMAP	"image/a4_02.bmp"	
IDB_ATTACK9		BITMAP	"image/a5_01.bmp"	
IDB_ATTACK10	BITMAP	"image/a5_02.bmp"	
IDB_ATTACK11	BITMAP	"image/a6_01.bmp"	
IDB_ATTACK12	BITMAP	"image/a6_02.bmp"	
IDB_ATTACK13	BITMAP	"image/a7_01.bmp"	
IDB_ATTACK14	BITMAP	"image/a7_02.bmp"	
IDB_ATTACK15	BITMAP	"image/a8_01.bmp"	
IDB_ATTACK16	BITMAP	"image/a8_02.bmp"	

//死亡
IDB_DEAD1       BITMAP  "image/d5_01.bmp"
IDB_DEAD2       BITMAP  "image/d7_01.bmp"
IDB_DEAD3       BITMAP  "image/d1_01.bmp"
IDB_DEAD4       BITMAP  "image/d3_01.bmp"

//物品
IDB_TH1         BITMAP  "image/box.bmp"
IDB_TH2         BITMAP  "image/barrel.bmp"
IDB_TH3         BITMAP  "image/cir.bmp"
IDB_TH4         BITMAP  "image/wall.bmp"
IDB_TH5         BITMAP  "image/wall2.bmp"

IDB_BLOOD       BITMAP  "image/blood.bmp"
IDB_BOOM        BITMAP  "image/boom.bmp"
IDB_BOOM0		BITMAP	"image/boom0.bmp"	
IDB_BOOM1		BITMAP	"image/boom1.bmp"	
IDB_BOOM2		BITMAP	"image/boom2.bmp"	
IDB_BOOM3		BITMAP	"image/boom3.bmp"	
IDB_BOOM4		BITMAP	"image/boom4.bmp"	
IDB_BOOM5		BITMAP	"image/boom5.bmp"
IDB_BOOM6		BITMAP	"image/boom6.bmp"	
IDB_BOOM7		BITMAP	"image/boom7.bmp"
IDB_BOOM8		BITMAP	"image/boom8.bmp"
IDB_BOOM9		BITMAP	"image/boom9.bmp"	
IDB_BOOM10		BITMAP	"image/boom10.bmp"	

//子弹
IDB_ZIDAN1		BITMAP  "image/zidan1.bmp"
IDB_ZIDAN2      BITMAP  "image/zidan_1.bmp"
IDB_ZIDAN3      BITMAP  "image/zidan_2.bmp"
IDB_ZIDAN4      BITMAP  "image/zidan_3.bmp"
IDB_ZIDAN5      BITMAP  "image/zidan_4.bmp"
IDB_ZIDAN6      BITMAP  "image/zidan_5.bmp"
IDB_ZIDAN7      BITMAP  "image/zidan_6.bmp"
IDB_ZIDAN8      BITMAP  "image/zidan_7.bmp"
IDB_ZIDAN9      BITMAP  "image/zidan_8.bmp"

IDB_GUN1        BITMAP  "image/gun1.bmp"
IDB_GUN2        BITMAP  "image/gun2.bmp"
	
			
